.spinner-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;

  &.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.95);
    z-index: 999;
  }
}

.spinner {
  position: relative;

  &.spinner-small {
    width: 30px;
    height: 30px;
  }

  &.spinner-medium {
    width: 50px;
    height: 50px;
  }

  &.spinner-large {
    width: 70px;
    height: 70px;
  }

  .spinner-ring {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 4px solid rgba(102, 126, 234, 0.2);
    border-top-color: #667eea;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
}

.spinner-message {
  font-size: 0.95rem;
  color: #666;
  margin: 0;
  text-align: center;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
